@import url("https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital@1&display=swap");

@import url("./components/button.css");
@import url("./components/colors.css");
@import url("./components/display-properties.css");
@import url("./components/customized-scroll-bar.css");
@import url("./components/reset.css");
@import url("./components/spacing-properties.css");
@import url("./components/position.css");
@import url("./components/font.css");
@import url("./components/opacity.css");
@import url("./components/transition.css");

::placeholder {
  color: white;
  font-weight: bold;
  font-size: 15px;
  opacity: 1;
}

:root {
  --border-orange: 1px solid orange;
  --border-white: 1px solid white;
}

h1,
h2 {
  font-family: "Alata", sans-serif;
}
p,
a,
span {
  font-family: "Open Sans", sans-serif;
}