@import url("./import.css");

body {
  background-color: rgb(238, 238, 238);
}

.nav-links a:hover {
  color: orange;
}

.first-section-info h2 {
  font-size: 37px;
}
.first-section-info p {
  line-height: 16px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}
.cake-link:hover {
  background-color: orange;
}
.cake-link img {
  width: 100px;
  height: 100px;
}
.menu-list-items p:hover {
  color: orange;
  opacity: 1;
}

.third-section-info {
  padding-bottom: 2rem;
}
.menu-list {
  height: 300px;
  overflow-y: scroll;
  width: 310px;
}
.card {
  padding: 1rem 2rem;
  width: 300px;
  height: 220px;
}
.breakfast {
  margin: 1rem 0;
  font-size: 20px;
}
.card-heading {
  margin: 1rem 0 1.5rem;
}
.card-heading i {
  width: 13px;
}
.card-heading h2 {
  font-size: 13px;
}
.card-heading p {
  font-size: 10px;
  margin-top: 0.2rem;
  color: gray;
}
.card-description p {
  font-weight: 500;
  line-height: 15px;
  font-size: 13px;
}
.card-price {
  margin-top: 0.3rem;
}
.card-price p {
  font-size: 20px;
}
.card-2,
.card-3,
.card-4 {
  margin-top: 1rem;
}

@media only screen and (min-width: 1300px) {
  .main {
    height: 100vh;
  }
  .side-bar {
    border-right: var(--border-orange);
    width: 5%;
  }
  .first-section-main {
    width: 55%;
  }
  .third-section-info {
    width: 40%;
    background-color: orange;
  }
  .div-line {
    position: relative;
    width: 45%;
    top: 17%;
    transform: rotate(270deg);
    margin: auto;
  }
  .line {
    border: var(--border-orange);
    width: 175%;
    position: relative;
    bottom: 10px;
    right: 66px;
  }
  .line-2 {
    border: var(--border-white);
    width: 400%;
    position: relative;
    bottom: 12px;
    right: 183px;
  }
  .side-text {
    position: relative;
    transform: rotate(270deg);
    top: 500px;
  }
  .side-text p {
    font-size: 13px;
  }
  .first-section-info h2 {
    font-size: 50px;
  }
  .first-section-info p {
    font-size: 16px;
    line-height: 20px;
  }
  .cake-link {
    width: 210px;
  }
  .cake-link div {
    width: 50px;
  }
  .search {
    width: 100%;
  }
  .search-bar {
    width: 16%;
  }
  .search-bar input {
    border: none;
    background-color: inherit;
    width: 70%;
  }
  .search-btn {
    padding: 0.2rem 1rem;
    border: none;
    background-color: white;
    color: orange;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
  }
  .search-btn:hover {
    background-color: orange;
    color: white;
    border: var(--border-white);
  }
  .third-section-main {
    position: relative;
    top: 45%;
  }
  .card {
    width: 310px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    margin: 0;
    margin-left: 0.5rem;
  }
  .food-menu-btn {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
  }
  .food-menu-btn:hover {
    background-color: white;
    color: yellowgreen;
  }
  .nav-buttons {
    padding: 0 1rem 0 .7rem;
  }
  .nav-buttons a:first-child {
    border-radius: 10px 3px 3px 10px;
    transition: 2s;
    padding: 0.2rem 0.6rem;
  }
  .nav-buttons a:last-child {
    border-radius: 3px 10px 10px 3px;
    transition: 2s;
    padding: 0.2rem 0.6rem;
  }
  .nav-buttons a:hover {
    background-color: yellowgreen;
  }
  .background-img {
    position: absolute;
    opacity: 0.9;
    width: 200px;
    transform: rotate(45deg);
  }
  .background-img-9 {
    top: 15%;
    right: 12%;
  }
  .menu-list {
    overflow: hidden;
    width: 120%;
    margin: 0;
    position: relative;
    left: 25%;
  }
}
