.display-flex {
  display: flex;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.align-items-center {
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .display-md-flex {
    display: flex !important;
  }
  .justify-content-md-space-between {
    justify-content: space-between;
  }
  .justify-content-md-space-around {
    justify-content: space-around;
  }
  .justify-content-md-start {
    justify-content: start;
  }
  .justify-content-md-end {
    justify-content: end;
  }
  .display-md-none {
    display: none !important;
  }
  .display-md-block {
    display: block !important;
  }
}

@media only screen and (min-width: 900px) {
  .display-lg-flex {
    display: flex;
  }
  .justify-lg-space-between {
    justify-content: space-between;
  }
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
  .justify-content-lg-start {
    justify-content: start;
  }
  .justify-content-lg-end {
    justify-content: end;
  }
  .display-lg-none {
    display: none !important;
  }
  .display-lg-block {
    display: block !important;
  }
}

@media only screen and (min-width: 1300px) {
  .display-xlg-flex {
    display: flex;
  }
  .justify-xlg-space-between {
    justify-content: space-between;
  }
  .justify-content-xlg-space-around {
    justify-content: space-around;
  }
  .justify-content-flex-xlg-start {
    justify-content: flex-start;
  }
  .justify-content-xlg-flex-end {
    justify-content: flex-end;
  }
  .display-xlg-none {
    display: none;
  }
  .display-xlg-block {
    display: block;
  }
}

.text-align-center {
  text-align: center;
}
